.header{
  padding: 28px 0;
}

.img-nav {
  width: 40px;
  margin: 12px;
}

.lenguage-typescript {
  color: #1e90ff;
  font-size: 16px;
  // font-weight: 700;
}

.expression {
  color: #87ceeb;
  // font-weight: 700;
  font-size: 14px;
}
.pipe {
  color: #daa520;
  // font-weight: 700;
  font-size: 14px;
}

.type {
  color: #ee82ee;
  // font-weight: 700;
  font-size: 14px;
}

.comment {
  color: #c0c0c0;
  font-weight: 500;
  font-size: 14px;
}


h2{
  margin-bottom: 8px;
}


h3{
  margin-bottom: 12px;
}
