@import "../../../../variables.scss";

@mixin primeng-modules() {
  // -------    MenuBarModule   -------
  .p-menubar {
    padding: 0.5rem;
    background: #f8f8ff;
    color: #4b5563;
    border: 1px solid #e5e7eb;
    border-radius: 0;
  }

  .p-menubar ul {
    margin-bottom: 0;
  }

  .p-menubar
    .p-menubar-root-list
    > .p-menuitem
    > .p-menuitem-content
    .p-menuitem-link {
    text-decoration: none;
  }
  .p-menubar .p-menuitem > .p-menuitem-content .p-menuitem-link {
    text-decoration: none;

    .p-menubar .p-menuitem-link {
      text-decoration: none;
    }
  }
  .p-menubar .p-submenu-list {
    padding: 12px 0;
  }

  // -------    FieldsetModule   -------

  .p-fieldset.p-fieldset-toggleable .p-fieldset-legend a {
    text-decoration: none;
    color: black;
    font-size: 14px;
  }
}
