@import "../../../../variables.scss";

@mixin primeng-modules() {
  // -------    ButtonModule   -------

//   .p-button{
//     // background: #4F46E5;
//     // color: #ffffff;
//     // border-color: #4F46E5;
//     border-radius: 24px;
// }

  // -------    MenuBarModule   -------


  .p-menubar ul {
    margin-bottom: 0;
  }

  .p-menubar
    .p-menubar-root-list
    > .p-menuitem
    > .p-menuitem-content
    .p-menuitem-link {
    text-decoration: none;
  }
  .p-menubar .p-menuitem > .p-menuitem-content .p-menuitem-link {
    text-decoration: none;

    .p-menubar .p-menuitem-link {
      text-decoration: none;
    }
  }
  .p-menubar .p-submenu-list {
    padding: 12px 0;
  }

  // -------    FieldsetModule   -------

  .p-fieldset.p-fieldset-toggleable .p-fieldset-legend a {
    text-decoration: none;
    color: black;
    font-size: 14px;
  }
}
